@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: #1E1E1E;
  width: 1440px;
  margin: 0 auto;
}

header {
    padding: 60px;
    width: 1040px;
    margin: 0 auto;
}

.navber {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: #FD6F00;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 21px;
    gap: 40px;
}

.nav-link a {
    color: white;
    text-decoration: none;
}

.download-cv-btn {
    font-size: 21px;
    color: white;
    background-color: #FD6F00;
    padding: 8px 15px;
    border: none;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px;
}

.dhaka {
    color: #FD6E0A;
}

.introduction p {
    color: white;
    opacity: 50%;
    font-size: 18px;
    letter-spacing: 3%;
    padding: 12px 0px 24px 0px;
}

.introduction-btn .portfollio {
    color: white;
    background-color: #FD6F00;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
}

.introduction-btn .hire-me {
    font-size: 25px;
    color: white;
    background-color: black;
    border: none;
}

.design {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.design h3 {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
}

.picture{
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 50%;
    padding: 5px 20px;
}

.dashboard {
    font-size: 30px;
    font-weight: 100;
    margin: -160px 0;
    transform: rotate(-5deg);
    background-color: black;
    padding: 40px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    animation: moveContent 5s linear infinite;
}

@keyframes moveContent {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.experince {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    width: 32px;
    margin-bottom: 10px;
}

.p2{
    opacity: 100%;
    font-style: italic;
    padding: 0;
}

.p3{
    font-size: 16px;
    opacity: 100%;
    
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    gap: 30px;
    


}
.page2{
    padding: 60px;
    width: 1040px;
    margin: 0 auto;
}
.page3{padding: 60px;
    width: 1040px;
    margin: 0 auto;
    
}
.about-me{
    padding: 60px;
    width: 1040px;
    margin: 0 auto;
    display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: space-between; padding-top:400px;

}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.years{
    padding: 15px;
    margin-bottom: 4px;
    border-bottom: 1px solid white 30%;
}